.pay-button button {
   position: relative;
   top: 20px;
   display: block;
   margin: 0 auto;
  
   background-color: #323232;
   border: 2px solid #000000;
   color: #fff;
   font-size: 1.15rem;
   width: 50%;
   text-align: center;
   padding: 5px 10px;
   cursor: pointer;
   margin-bottom: 40px;
   border-radius: 15px;
}

.pay-button:active {
   border: 2px solid #ffffff;
}


/* hover */
.pay-button button:hover {
color:black;
background-color: #ffffff; 

}
.matpriser-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   .matpriser-bild {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
         width: 100%;
         border-radius: 9px;

      }
   }

   .matpriser {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      width:100%;

      .matpriser-restaurang {
         display: flex;
      }

      .matpriser-left {
         display: flex;
         flex-direction: column;
         width: 100%;
      }

      .matpriser-p {
         text-align: left;

         display: flex;

         align-items: left;
      }

      .matpriser-restaurang {
         display: flex;
         font-weight: bold;

         flex-direction: row;
      }

      .matpriser-pris {
         display: flex;
         font-weight: bold;
         align-items: center;
         flex-direction: row;

      }
   }
}

@media screen and (max-width: 767px) {

   .matpriser-container .matpriser {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 10px;

      text-align: center;

      .matpriser-pris {

         display: flex;
         text-align: left;
         padding-left: 0;
         justify-content: flex-start;
      }

   

   .matpriser-bild img,
   .matpriser-bild {
      border-radius: 5px !important;
   }
   }
}