#kontakt3 {


    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;


    .main3 {
        padding-top: 25px;
        padding-bottom: 35px;

        h2 {
            font-size: 1.8rem;
            font-weight: 500;
            width: fit-content;
            margin: 0 auto;
            text-align: center;
            color: $third-color;
            padding-bottom: 10px;
        }

        p {
            color: #000000;
            width: 100%;
            max-width: 440px;
            text-align: center;
            margin: 0 auto;
            line-height: 1.5;
        }

    }

    #myForm3 {
        background-color: $third-color;
        color: #fff;
        margin: 0 10px;
        padding: 9px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px;

        #form-container3 {
            width: 100%;

            .form-group3 {
                display: flex;
                flex-direction: column;
                align-items: left;
                margin-bottom: 15px;

                label {
                    width: 150px;
                    text-align: left;
                    font-size: 1.15rem;
                }

                input {
                    width: 100%;
                    padding: 8px;
                    border-radius: 5px;
                    font-size: 1.1rem;
                }

                .meddelande {
                    align-self: flex-start;
                }

                textarea {
                    padding: 5px;
                    border-radius: 5px;
                    width: 100%;
                    resize: none;
                }

                #meddelande::placeholder {
                    font-size: 0.9rem;
                    line-height: 1.5;
                }
            }

        }
    }

    .skicka3 {
        position: relative;
        top: 20px;
        display: block;
        margin: 0 auto;
        background-color: rgb(142, 177, 151);
        border: 2px solid $border-color;
        color: #fff;
        font-size: 1.15rem;
        width: 50%;
        text-align: center;
        padding: 5px 10px;
        cursor: pointer;
        margin-bottom: 40px;
        border-radius: 5px;
    }

    .skicka3:active {
        border: 2px solid #ffffff;
    }

    input[type="submit"].skicka3:hover {
        background-color: $third-color;
        box-shadow: 5px 2px 15px 2px rgb(255, 255, 255);
        border-radius: 10px;
        transition: 800ms;
    }


}

@media screen and (min-width: 1920px) {

    #kontakt3 {
        padding-top: 32px;
        width: 1200px;
        padding-bottom: 40px;

        .main3 {
            padding-top: 0;

            h1 {
                font-size: 2.6rem;
            }

            p {
                font-size: 1.4rem;
                max-width: 600px;
                line-height: 1.6;
            }

        }

        #myForm3 {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            max-width: 880px;
            margin: 0 auto;
            padding: 70px;
            margin-bottom: 32px;

            #form-container3 {
                width: fit-content;

                .form-group3 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    label {
                        text-align: right;
                        padding-right: 10px;
                        margin-bottom: 5px;
                        width: 200px;
                        margin: 0;
                        font-size: 1.4rem;
                    }

                    input {
                        width: 450px;
                        font-size: 1.5rem;
                    }

                    textarea {
                        width: 450px;
                        font-size: 1.4rem;
                        padding: 9px;
                    }

                    #meddelande::placeholder {
                        font-size: 1.2rem;
                    }
                }

            }
        }

        .skicka3 {
            font-size: 1.5rem;
            width: 32%;
            text-align: center;
            padding: 7px 40px;
        }

    }
}