
#betalning{
    background-color: $primary-color;
    color: #000000;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 30px;

    .main4{
        padding-top: 20px;
        padding-bottom: 10px;
        h1{
            font-size: 1.5rem;
            font-weight: 500;
            width: fit-content;
            line-height: 1.5;
            padding: 0 10px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 20px;
        }

        p{
            width: fit-content;
            text-align: left;
            margin-left: 10px;
            font-size: 1.1rem;
        }

    }

    #myForm4{
        margin: 0 10px;
        padding: 9px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
        border: 3px solid $secondary-color;

        #form-container4{
            width: 100%;
            .form-group4{
                display: flex;
                flex-direction: column;
                align-items: left;
                margin-bottom: 15px;
    
                label{
                    width: 150px;
                    text-align: left;
                    padding-right: 10px;
                    font-size: 1.15rem;
                }
        
                input{
                    width: 100%;
                    padding: 8px;
                    border-radius: 5px;
                    font-size: 1.1rem;
                }

                .betalningsadress-container{
                    display: flex;
                    flex-direction: column;
                    label{
                        padding: 0;
                        margin-bottom: -5px;
                    }
                    p{
                        padding-bottom: 5px;
                        text-align: left;
                        font-size: 0.72rem;
                    }
                }

                input[type="date"] {
                    width: 200px; 
                    height: 40px; 
                  }
    
                .meddelande{
                    align-self: flex-start;
                }
    
                textarea{
                    padding: 5px;
                    border-radius: 5px;
                    width: 100%;
                    resize: none;
                }
                #meddelande::placeholder{
                    font-size: 1rem;
                    line-height: 1.5;
                }
            }
            
        }
    }

    .payment-container{
        margin-top: 20px;
        p{
            font-size: 1.1rem;
            margin-left: 10px;
            margin-bottom: 10px;
            text-align: left;
        }
    }

    #payment-form{
        padding: 0;
        border-radius: 10px;
        border: 3px solid $secondary-color;
        margin-bottom: 10px;

        .payment-method {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            margin-bottom: 20px;
    
            label{
                margin-bottom: 5px;
                padding-bottom: 10px;
                
                img{
                    width: 150px;
                }
            }

            .visa-card{
                padding-bottom: 0;
                img{
                    width: 250px;
                }
            }
    
          }

    }
    
    .totalSumma{
        font-size: 1.6rem;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 20px;
    }


    .skicka4{
        position: relative;
        display: block;
        margin: 0 auto;
        background-color: $third-color;
        border: 5px solid $secondary-color;
        color: #fff;
        font-size: 1.15rem;
        width: 60%;
        text-align: center;
        padding: 5px 10px;
        cursor: pointer;
    }

    
    input[type="submit"].skicka4:hover{
        background-color: red;
    }

    .skicka4:active{
        border: 5px solid #fccd67;
      }
}

// Desktop: 1920px
@media screen and (min-width: 1920px){

    #betalning{
        padding: 20px 50px 80px;
        width: 100%;
        min-width: 1085px;

        .main4{
            h1{
                font-size: 2.5rem;
                margin-bottom: 48px;
                padding-top: 10px;
            }
    
            p{
                position: relative;
                left: 40px;
                font-size: 1.5rem;
            }
    
        }
    
        #myForm4{

            display: flex;
            justify-content: center;
            margin: 0 20px;
            width: 100%;
            max-width: 970px;
            padding: 70px;
            margin-bottom: 50px;


            #form-container4{
                width: fit-content;
                
                .form-group4{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 20px;
        
                    label{
                        text-align: right;
                        width: 200px;
                        font-size: 1.4rem;
                    }
            
                    input{
                        width: 450px;
                        font-size: 1.5rem;
                    }

                    .betalningsadress-container{
                        align-items: center;

                        label{
                            text-align: right;
                            padding-right: 10px;
                        }

                        p{
                            text-align: center;
                            font-weight: 600;
                        }
                    }

        
                    textarea{
                        width: 450px;
                        font-size: 1.4rem;
                    }

                    #meddelande::placeholder{
                        font-size: 1.3rem;
                    }
                }

                #Leveransdatum{
                    margin-bottom: 25px;
                }

                #Leveransadress{
                    align-self: flex-start;
                }
                
            }
            
        }

        .payment-container{

            p{
                width: fit-content;
                position: relative;
                left: 40px;
                font-size: 1.5rem;
            }
        }

        #payment-form{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 20px;
            margin-bottom: 15px;
            
            .payment-method {
        
                label{
                    height: 100px;
                    display: flex;
                    align-items: center;
                    
                    img{
                        width: 180px;
                    }
                }
                
                input[type="radio"] {
                    margin-top: 30px;
                    transform: scale(1.5); 
                  }
    
                .visa-card{
                    img{
                        width: 280px;
                    }
                }
        
              }

            .desktop-mastercard{

                label{
                        padding-bottom: 0;
                    }
            }
              .desktop-klarna{

                label{
                    padding-bottom: 0;
                }
            }
            
            .desktop-googlePay{
                padding-top: 0;
                
                label{
                    padding-bottom: 0;
                    padding-right: 20px;
                }
            }

        }

        .totalSumma{
            font-size: 3rem;
            font-weight: 500;
            width: fit-content;
            padding-bottom: 40px;
        }
    
        .skicka4{
            font-size: 1.7rem;
            width: 310px;
            margin-bottom: 0;
        }
    
    }

}