* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

$primary-color: rgb(140, 140, 140);
$secondary-color: #ffc341;
$third-color: #59705f;
$border-color: #000000;
$goldStar: #F1D058;


@import "omdome";
@import "AbasMedlemKontakt";
@import "KontaktaOss";
@import "styleBetalning";
// @import " ";