* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  margin: 20px;
  margin-top: 100px;
}
#grid-container .grid-item {
  position: relative;
  background-color: #476E91;
  border-radius: 20px;
  margin-bottom: 80px;
  height: 450px;
  justify-self: center;
  margin-top: 48px;
}
#grid-container .grid-item .profile {
  display: flex;
  justify-content: center;
}
#grid-container .grid-item .profile img {
  position: absolute;
  top: -47px;
  width: 88px;
  border-radius: 100%;
}
#grid-container .grid-item .name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#grid-container .grid-item .name h2 {
  color: #fff;
  font-size: 1.3rem;
  padding-top: 58px;
  margin-bottom: 4px;
}
#grid-container .grid-item .name p {
  color: #fff;
  margin-bottom: 10px;
}
#grid-container .grid-item .about {
  text-align: center;
  line-height: 2;
  font-size: 0.9rem;
  color: #fff;
  margin: 14px 10px;
}
#grid-container .grid-item .form-group5 {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
}
#grid-container .grid-item .form-group5 label {
  width: 150px;
  text-align: left;
  padding-right: 10px;
  font-size: 1.15rem;
  color: #F1D058;
}
#grid-container .grid-item .form-group5 input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  font-size: 1.1rem;
}
#grid-container .grid-item .form-group5 .star-container2 {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 0 25px;
  width: fit-content;
  align-self: center;
}
#grid-container .grid-item .form-group5 .star {
  font-size: 2.1rem;
}
#grid-container .grid-item .form-group5 .grey {
  color: #ccc;
}
#grid-container .grid-item .form-group5 .star-container2 input {
  display: none;
}
#grid-container .grid-item .form-group5 .star-container2 label {
  width: fit-content;
  cursor: pointer;
}

#omdome {
  background-color: #FCF7EF;
  border: 3px solid #EFAE1F;
  border-radius: 10px;
  padding-top: 0;
}
#omdome .main1 {
  padding-top: 20px;
  padding-bottom: 10px;
}
#omdome .main1 h2 {
  font-size: 1.7rem;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}
#omdome .main1 p {
  width: 100%;
  max-width: 440px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}
#omdome #myForm1 {
  color: #000000;
  padding: 10px;
}
#omdome #myForm1 #form-container1 {
  width: 100%;
}
#omdome #myForm1 #form-container1 .form-group1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
}
#omdome #myForm1 #form-container1 .form-group1 label {
  width: 150px;
  text-align: left;
  padding-right: 10px;
  font-size: 1.15rem;
}
#omdome #myForm1 #form-container1 .form-group1 input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  font-size: 1.1rem;
}
#omdome #myForm1 #form-container1 .form-group1 .star-container {
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 0 25px;
  width: fit-content;
}
#omdome #myForm1 #form-container1 .form-group1 .star {
  font-size: 1.5rem;
}
#omdome #myForm1 #form-container1 .form-group1 .star-container input {
  display: none;
}
#omdome #myForm1 #form-container1 .form-group1 .star-container label {
  width: fit-content;
  margin-bottom: 0;
  color: #ccc;
  cursor: pointer;
}
#omdome #myForm1 #form-container1 .form-group1 .star-container input:checked ~ label {
  color: #EFAE1F;
}
#omdome #myForm1 #form-container1 .form-group1 .star-container label:hover,
#omdome #myForm1 #form-container1 .form-group1 .star-container label:hover ~ label {
  color: #EFAE1F;
}
#omdome #myForm1 #form-container1 .form-group1 .meddelande {
  align-self: flex-start;
}
#omdome #myForm1 #form-container1 .form-group1 textarea {
  padding: 6px;
  border-radius: 14px;
  font-size: 1.1rem;
  width: 100%;
  resize: none;
}
#omdome #myForm1 #form-container1 .form-group1 #meddelande::placeholder {
  font-size: 1rem;
  line-height: 1.5;
}
#omdome #myForm1 #form-container1 .datum {
  margin-bottom: 15px;
}
#omdome .skicka1 {
  position: relative;
  top: 20px;
  display: block;
  margin: 0 auto;
  background-color: #2B4B58;
  border: 5px solid #EFAE1F;
  color: #fff;
  font-size: 1.15rem;
  width: 50%;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 40px;
}
#omdome .skicka1:active {
  border: 5px solid #fccd67;
}
#omdome input[type=submit].skicka1:hover {
  background-color: red;
}

@media screen and (min-width: 1920px) {
  #grid-container {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    grid-template-rows: 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  #grid-container .grid-item {
    position: relative;
    background-color: #476E91;
    width: 90%;
    border-radius: 20px;
    margin-top: 44px;
  }
  #grid-container .grid-item img {
    left: 39%;
    top: -44px;
  }
  #grid-container .grid-item .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  #grid-container .grid-item .name h2 {
    color: #fff;
    font-size: 1.3rem;
    padding-top: 40px;
    margin-bottom: 4px;
  }
  #grid-container .grid-item .name p {
    color: #fff;
    margin-bottom: 10px;
  }
  #grid-container .grid-item .about {
    text-align: center;
    line-height: 2;
    font-size: 0.9rem;
    color: #fff;
    margin: 14px 10px;
  }
  #grid-container .grid-item .card-3 {
    margin: 39px 14px;
  }
  #grid-container .grid-item .form-group5 {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 10px;
  }
  #grid-container .grid-item .form-group5 label {
    width: 150px;
    text-align: left;
    padding-right: 10px;
    font-size: 1.15rem;
    color: #F1D058;
  }
  #grid-container .grid-item .form-group5 input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    font-size: 1.1rem;
  }
  #grid-container .grid-item .form-group5 .star-container2 {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 0 25px;
    width: fit-content;
    align-self: center;
  }
  #grid-container .grid-item .form-group5 .star {
    font-size: 2.1rem;
  }
  #grid-container .grid-item .form-group5 .grey1, #grid-container .grid-item .form-group5 .grey2 {
    color: #ccc;
  }
  #grid-container .grid-item .form-group5 .star-container2 input {
    display: none;
  }
  #grid-container .grid-item .form-group5 .star-container2 label {
    width: fit-content;
    cursor: pointer;
  }
  #omdome {
    padding: 70px;
    padding-top: 20px;
    padding-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #omdome .main1 {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  #omdome .main1 h2 {
    font-size: 2rem;
  }
  #omdome .main1 p {
    font-size: 1.4rem;
    max-width: 600px;
  }
  #omdome #myForm1 {
    margin: 0 20px;
  }
  #omdome #myForm1 #form-container1 {
    width: fit-content;
  }
  #omdome #myForm1 #form-container1 .form-group1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }
  #omdome #myForm1 #form-container1 .form-group1 label {
    text-align: right;
    width: 156px;
    padding-bottom: 0;
    margin: 0;
    font-size: 1.4rem;
  }
  #omdome #myForm1 #form-container1 .form-group1 input {
    width: 610px;
    font-size: 1.5rem;
  }
  #omdome #myForm1 #form-container1 .form-group1 textarea {
    width: 610px;
    font-size: 1.4rem;
  }
  #omdome #myForm1 #form-container1 .form-group1 #meddelande::placeholder {
    font-size: 1.3rem;
  }
  #omdome .skicka1 {
    font-size: 1.6rem;
    width: 35%;
    padding: 7px 40px;
    cursor: pointer;
  }
}
#kontakt2 {
  background-color: #FCF7EF;
  border: 3px solid #EFAE1F;
  border-radius: 10px;
  margin: 0 auto;
}
#kontakt2 .main3 {
  padding-top: 25px;
  padding-bottom: 35px;
}
#kontakt2 .main3 h2 {
  font-size: 1.8rem;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: #2B4B58;
  padding-bottom: 10px;
}
#kontakt2 .main3 p {
  color: #000000;
  width: 100%;
  max-width: 440px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}
#kontakt2 #myForm3 {
  background-color: #2B4B58;
  color: #fff;
  margin: 0 10px;
  padding: 9px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
#kontakt2 #myForm3 #form-container3 {
  width: 100%;
}
#kontakt2 #myForm3 #form-container3 .form-group3 {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px;
}
#kontakt2 #myForm3 #form-container3 .form-group3 label {
  width: 150px;
  text-align: left;
  font-size: 1.15rem;
}
#kontakt2 #myForm3 #form-container3 .form-group3 input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.1rem;
}
#kontakt2 #myForm3 #form-container3 .form-group3 .meddelande {
  align-self: flex-start;
}
#kontakt2 #myForm3 #form-container3 .form-group3 textarea {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  resize: none;
}
#kontakt2 #myForm3 #form-container3 .form-group3 #meddelande::placeholder {
  font-size: 0.9rem;
  line-height: 1.5;
}
#kontakt2 .skicka3 {
  position: relative;
  top: 20px;
  display: block;
  margin: 0 auto;
  background-color: #2B4B58;
  border: 5px solid #EFAE1F;
  color: #fff;
  font-size: 1.15rem;
  width: 60%;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 40px;
}
#kontakt2 .skicka3:active {
  border: 5px solid #fccd67;
}
#kontakt2 input[type=submit].skicka3:hover {
  background-color: red;
}

@media screen and (min-width: 1920px) {
  #kontakt2 {
    padding-top: 32px;
    width: 1200px;
    padding-bottom: 40px;
  }
  #kontakt2 .main3 {
    padding-top: 0;
  }
  #kontakt2 .main3 h1 {
    font-size: 2.6rem;
  }
  #kontakt2 .main3 p {
    font-size: 1.4rem;
    max-width: 600px;
    line-height: 1.6;
  }
  #kontakt2 #myForm3 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 70px;
    margin-bottom: 32px;
  }
  #kontakt2 #myForm3 #form-container3 {
    width: fit-content;
  }
  #kontakt2 #myForm3 #form-container3 .form-group3 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #kontakt2 #myForm3 #form-container3 .form-group3 label {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
    width: 200px;
    margin: 0;
    font-size: 1.4rem;
  }
  #kontakt2 #myForm3 #form-container3 .form-group3 input {
    width: 450px;
    font-size: 1.5rem;
  }
  #kontakt2 #myForm3 #form-container3 .form-group3 textarea {
    width: 450px;
    font-size: 1.4rem;
    padding: 9px;
  }
  #kontakt2 #myForm3 #form-container3 .form-group3 #meddelande::placeholder {
    font-size: 1.2rem;
  }
  #kontakt2 .skicka3 {
    font-size: 1.5rem;
    width: 32%;
    text-align: center;
    padding: 7px 40px;
  }
}
#kontakt1 {
  background-color: #FCF7EF;
  border: 3px solid #EFAE1F;
  border-radius: 10px;
  margin: 0 auto;
}
#kontakt1 .main2 {
  padding-top: 15px;
  padding-bottom: 20px;
}
#kontakt1 .main2 h1 {
  font-size: 1.8rem;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: #2B4B58;
  padding-bottom: 20px;
}
#kontakt1 .main2 p {
  color: #000000;
  width: 100%;
  max-width: 440px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}
#kontakt1 #myForm2 {
  background-color: #2B4B58;
  color: #fff;
  margin: 0 7px;
  padding: 9px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
#kontakt1 #myForm2 #form-container2 {
  width: 100%;
}
#kontakt1 #myForm2 #form-container2 .form-group2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px;
}
#kontakt1 #myForm2 #form-container2 .form-group2 label {
  width: 150px;
  text-align: left;
  font-size: 1.15rem;
}
#kontakt1 #myForm2 #form-container2 .form-group2 input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.1rem;
}
#kontakt1 #myForm2 #form-container2 .form-group2 .meddelande {
  align-self: flex-start;
}
#kontakt1 #myForm2 #form-container2 .form-group2 textarea {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  resize: none;
}
#kontakt1 #myForm2 #form-container2 .form-group2 #meddelande::placeholder {
  font-size: 1rem;
  line-height: 1.5;
}
#kontakt1 .skicka2 {
  position: relative;
  top: 20px;
  display: block;
  margin: 0 auto;
  background-color: #2B4B58;
  border: 5px solid #EFAE1F;
  color: #fff;
  font-size: 1.15rem;
  width: 60%;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 40px;
}
#kontakt1 .skicka2:active {
  border: 5px solid #fccd67;
}
#kontakt1 input[type=submit].skicka2:hover {
  background-color: red;
}
#kontakt1 .kontakt-info {
  display: flex;
  flex-direction: column;
  padding: 8px;
  text-align: left;
  line-height: 1.5;
}
#kontakt1 .kontakt-info a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  #kontakt1 {
    width: 100%;
    min-width: 1085px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #kontakt1 .main2 {
    padding-top: 25px;
  }
  #kontakt1 .main2 h1 {
    font-size: 2.6rem;
  }
  #kontakt1 .main2 p {
    font-size: 1.4rem;
    max-width: 600px;
  }
  #kontakt1 #myForm2 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 70px;
    padding-left: 0;
  }
  #kontakt1 #myForm2 #form-container2 {
    width: fit-content;
  }
  #kontakt1 #myForm2 #form-container2 .form-group2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #kontakt1 #myForm2 #form-container2 .form-group2 label {
    text-align: right;
    padding-bottom: 0;
    padding-right: 10px;
    width: 200px;
    margin: 0;
    font-size: 1.4rem;
  }
  #kontakt1 #myForm2 #form-container2 .form-group2 input {
    width: 450px;
    font-size: 1.5rem;
  }
  #kontakt1 #myForm2 #form-container2 .form-group2 textarea {
    width: 450px;
    font-size: 1.4rem;
  }
  #kontakt1 #myForm2 #form-container2 .form-group2 #meddelande::placeholder {
    font-size: 1.2rem;
    padding: 10px;
  }
  #kontakt1 .skicka2 {
    font-size: 1.5rem;
    width: 40%;
    padding: 7px 40px;
    margin-bottom: 60px;
  }
  #kontakt1 .kontakt-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 20px;
    padding-left: 60px;
    font-size: 1.4rem;
  }
  #kontakt1 .kontakt-info p {
    text-align: left;
  }
}
#betalning {
  background-color: #FCF7EF;
  color: #000000;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 30px;
}
#betalning .main4 {
  padding-top: 20px;
  padding-bottom: 10px;
}
#betalning .main4 h1 {
  font-size: 1.5rem;
  font-weight: 500;
  width: fit-content;
  line-height: 1.5;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
#betalning .main4 p {
  width: fit-content;
  text-align: left;
  margin-left: 10px;
  font-size: 1.1rem;
}
#betalning #myForm4 {
  margin: 0 10px;
  padding: 9px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: 3px solid #EFAE1F;
}
#betalning #myForm4 #form-container4 {
  width: 100%;
}
#betalning #myForm4 #form-container4 .form-group4 {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px;
}
#betalning #myForm4 #form-container4 .form-group4 label {
  width: 150px;
  text-align: left;
  padding-right: 10px;
  font-size: 1.15rem;
}
#betalning #myForm4 #form-container4 .form-group4 input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.1rem;
}
#betalning #myForm4 #form-container4 .form-group4 .betalningsadress-container {
  display: flex;
  flex-direction: column;
}
#betalning #myForm4 #form-container4 .form-group4 .betalningsadress-container label {
  padding: 0;
  margin-bottom: -5px;
}
#betalning #myForm4 #form-container4 .form-group4 .betalningsadress-container p {
  padding-bottom: 5px;
  text-align: left;
  font-size: 0.72rem;
}
#betalning #myForm4 #form-container4 .form-group4 input[type=date] {
  width: 200px;
  height: 40px;
}
#betalning #myForm4 #form-container4 .form-group4 .meddelande {
  align-self: flex-start;
}
#betalning #myForm4 #form-container4 .form-group4 textarea {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  resize: none;
}
#betalning #myForm4 #form-container4 .form-group4 #meddelande::placeholder {
  font-size: 1rem;
  line-height: 1.5;
}
#betalning .payment-container {
  margin-top: 20px;
}
#betalning .payment-container p {
  font-size: 1.1rem;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: left;
}
#betalning #payment-form {
  padding: 0;
  border-radius: 10px;
  border: 3px solid #EFAE1F;
  margin-bottom: 10px;
}
#betalning #payment-form .payment-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
}
#betalning #payment-form .payment-method label {
  margin-bottom: 5px;
  padding-bottom: 10px;
}
#betalning #payment-form .payment-method label img {
  width: 150px;
}
#betalning #payment-form .payment-method .visa-card {
  padding-bottom: 0;
}
#betalning #payment-form .payment-method .visa-card img {
  width: 250px;
}
#betalning .totalSumma {
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
#betalning .skicka4 {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #2B4B58;
  border: 5px solid #EFAE1F;
  color: #fff;
  font-size: 1.15rem;
  width: 60%;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
}
#betalning input[type=submit].skicka4:hover {
  background-color: red;
}
#betalning .skicka4:active {
  border: 5px solid #fccd67;
}

@media screen and (min-width: 1920px) {
  #betalning {
    padding: 20px 50px 80px;
    width: 100%;
    min-width: 1085px;
  }
  #betalning .main4 h1 {
    font-size: 2.5rem;
    margin-bottom: 48px;
    padding-top: 10px;
  }
  #betalning .main4 p {
    position: relative;
    left: 40px;
    font-size: 1.5rem;
  }
  #betalning #myForm4 {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    width: 100%;
    max-width: 970px;
    padding: 70px;
    margin-bottom: 50px;
  }
  #betalning #myForm4 #form-container4 {
    width: fit-content;
  }
  #betalning #myForm4 #form-container4 .form-group4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  #betalning #myForm4 #form-container4 .form-group4 label {
    text-align: right;
    width: 200px;
    font-size: 1.4rem;
  }
  #betalning #myForm4 #form-container4 .form-group4 input {
    width: 450px;
    font-size: 1.5rem;
  }
  #betalning #myForm4 #form-container4 .form-group4 .betalningsadress-container {
    align-items: center;
  }
  #betalning #myForm4 #form-container4 .form-group4 .betalningsadress-container label {
    text-align: right;
    padding-right: 10px;
  }
  #betalning #myForm4 #form-container4 .form-group4 .betalningsadress-container p {
    text-align: center;
    font-weight: 600;
  }
  #betalning #myForm4 #form-container4 .form-group4 textarea {
    width: 450px;
    font-size: 1.4rem;
  }
  #betalning #myForm4 #form-container4 .form-group4 #meddelande::placeholder {
    font-size: 1.3rem;
  }
  #betalning #myForm4 #form-container4 #Leveransdatum {
    margin-bottom: 25px;
  }
  #betalning #myForm4 #form-container4 #Leveransadress {
    align-self: flex-start;
  }
  #betalning .payment-container p {
    width: fit-content;
    position: relative;
    left: 40px;
    font-size: 1.5rem;
  }
  #betalning #payment-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  #betalning #payment-form .payment-method label {
    height: 100px;
    display: flex;
    align-items: center;
  }
  #betalning #payment-form .payment-method label img {
    width: 180px;
  }
  #betalning #payment-form .payment-method input[type=radio] {
    margin-top: 30px;
    transform: scale(1.5);
  }
  #betalning #payment-form .payment-method .visa-card img {
    width: 280px;
  }
  #betalning #payment-form .desktop-mastercard label {
    padding-bottom: 0;
  }
  #betalning #payment-form .desktop-klarna label {
    padding-bottom: 0;
  }
  #betalning #payment-form .desktop-googlePay {
    padding-top: 0;
  }
  #betalning #payment-form .desktop-googlePay label {
    padding-bottom: 0;
    padding-right: 20px;
  }
  #betalning .totalSumma {
    font-size: 3rem;
    font-weight: 500;
    width: fit-content;
    padding-bottom: 40px;
  }
  #betalning .skicka4 {
    font-size: 1.7rem;
    width: 310px;
    margin-bottom: 0;
  }
}