* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

#kontakt {
  background-color: #FCF7EF;
  border: 3px solid #EFAE1F;
  border-radius: 10px;
  margin: 0 auto;
}
#kontakt .main2 {
  padding-top: 25px;
  padding-bottom: 35px;
}
#kontakt .main2 h1 {
  font-size: 1.8rem;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: #2B4B58;
  padding-bottom: 10px;
}
#kontakt .main2 p {
  color: #000000;
  width: 100%;
  max-width: 440px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}
#kontakt form {
  background-color: #2B4B58;
  color: #fff;
  margin: 0 20px;
  padding: 10px;
  border-radius: 10px;
}
#kontakt form #form-container {
  width: 100%;
}
#kontakt form #form-container .form-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px;
}
#kontakt form #form-container .form-group label {
  width: 150px;
  text-align: left;
  margin-bottom: 5px;
  font-size: 1.15rem;
}
#kontakt form #form-container .form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.1rem;
}
#kontakt form #form-container .form-group .meddelande {
  align-self: flex-start;
}
#kontakt form #form-container .form-group textarea {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  resize: none;
}
#kontakt form #form-container .form-group #meddelande::-moz-placeholder {
  font-size: 1rem;
  line-height: 1.5;
}
#kontakt form #form-container .form-group #meddelande::placeholder {
  font-size: 1rem;
  line-height: 1.5;
}
#kontakt .skicka {
  position: relative;
  top: 20px;
  display: block;
  margin: 0 auto;
  background-color: #2B4B58;
  border: 5px solid #EFAE1F;
  color: #fff;
  font-size: 1.15rem;
  width: 60%;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 40px;
}
#kontakt .skicka:active {
  border: 5px solid #fccd67;
}
#kontakt .kontakt-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  line-height: 1.5;
}
#kontakt .kontakt-info a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  #kontakt {
    padding-top: 32px;
    width: 1200px;
    padding-bottom: 40px;
  }
  #kontakt .main2 {
    padding-top: 0;
  }
  #kontakt .main2 h1 {
    font-size: 2.6rem;
  }
  #kontakt .main2 p {
    font-size: 1.4rem;
    max-width: 600px;
    line-height: 1.6;
  }
  #kontakt form {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 70px;
    margin-bottom: 32px;
  }
  #kontakt form #form-container {
    width: -moz-fit-content;
    width: fit-content;
  }
  #kontakt form #form-container .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #kontakt form #form-container .form-group label {
    text-align: right;
    padding-bottom: 0;
    padding-right: 10px;
    width: 200px;
    margin: 0;
    font-size: 1.4rem;
  }
  #kontakt form #form-container .form-group input {
    width: 450px;
    font-size: 1.5rem;
  }
  #kontakt form #form-container .form-group textarea {
    width: 450px;
    resize: none;
    font-size: 1.4rem;
    padding: 9px;
  }
  #kontakt form #form-container .form-group #meddelande::-moz-placeholder {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  #kontakt form #form-container .form-group #meddelande::placeholder {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  #kontakt .skicka {
    position: relative;
    top: 20px;
    display: block;
    margin: 0 auto;
    background-color: #2B4B58;
    border: 5px solid #EFAE1F;
    color: #fff;
    font-size: 1.5rem;
    width: 32%;
    text-align: center;
    padding: 7px 40px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  #kontakt .skicka:active {
    border: 5px solid #fccd67;
  }
  #kontakt .kontakt-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 60px;
    line-height: 1.5;
    font-size: 1.4rem;
  }
  #kontakt .kontakt-info a {
    color: black;
    text-decoration: none;
  }
}/*# sourceMappingURL=AbasMedlemKontakt.css.map */