*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

$primary-color: #FCF7EF; 
$secondary-color: #EFAE1F;
$third-color: #2B4B58;
$border-color: #EFAE1F;

#omdome{

    background-color: $primary-color;
    border: 3px solid $secondary-color;
    border-radius: 10px;
    padding-top: 0;

    .main2{
        padding-top: 40px;
        padding-bottom: 10px;
        h1{
            font-size: 1.8rem;
            font-weight: 500;
            width: fit-content;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 10px;
        }

        p{
            width: 100%;
            max-width: 440px;
            text-align: center;
            margin: 0 auto;
            line-height: 1.5;
        }

    }

    form{
        color: #000000;
        margin: 0 20px;
        padding: 10px;

        #form-container{
            width: 100%;
            .form-group {
                display: flex;
                flex-direction: column;
                align-items: left;
                margin-bottom: 10px;
    
                label{
                    width: 150px;
                    text-align: left;
                    padding-right: 10px;
                    font-size: 1.15rem;
                }
        
                input{
                    width: 100%;
                    padding: 8px;
                    border-radius: 5px;
                    font-size: 1.1rem;
                }
                
                .star-container {
                    background-color: #fff;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    font-size: 1.5rem;
                    padding: 0 25px;
                    width: fit-content;
                  }

                  .star{
                    font-size: 1.5rem;
                  }
                  
                  .star-container input {
                    display: none;
                  }
                  
                  .star-container label {
                    width: fit-content;
                    margin-bottom: 0;
                    color: #ccc;
                    cursor: pointer;
                  }
                  
                  .star-container input:checked ~ label {
                    color: $secondary-color;
                  }
                  
                  .star-container label:hover,
                  .star-container label:hover ~ label {
                    color: $secondary-color;
                  }
    
                .meddelande{
                    align-self: flex-start;
                }
    
                textarea{
                    padding: 10px;
                    border-radius: 5px;
                    font-size: 1.1rem;
                    width: 100%;
                    resize: none;
                }
                #meddelande::placeholder{
                    font-size: 1rem;
                    line-height: 1.5;
                }
            }

            .datum{
                margin-bottom: 15px;
            }
            
        }
    }

    .skicka{
        position: relative;
        top: 20px;
        display: block;
        margin: 0 auto;
        background-color: $third-color;
        border: 5px solid $secondary-color;
        color: #fff;
        font-size: 1.15rem;
        width: 50%;
        text-align: center;
        padding: 5px 10px;
        cursor: pointer;
        margin-bottom: 40px;
    }

    .skicka:active{
        border: 5px solid #fccd67;
      }

}

// Desktop: 1920px
@media screen and (min-width: 1920px){

    #omdome{
        padding-bottom: 60px;
        .main2{
            padding-top: 30px;
            padding-bottom: 15px;
            h1{
                font-size: 2rem;
            }

            p{
                font-size: 1.4rem;
                max-width: 600px;
            }

        }

        form{

            #form-container{
                width: fit-content;
                
                .form-group {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 20px;
        
                    label{
                        text-align: right;
                        padding-bottom: 0;
                        margin: 0;
                        font-size: 1.4rem;
                    }
            
                    input{
                        width: 450px;
                        font-size: 1.5rem;
                    }
        
                    textarea{
                        width: 450px;
                        resize: none;
                        font-size: 1.4rem;
                    }
                    #meddelande::placeholder{
                        font-size: 1.3rem;
                        line-height: 1.5;
                    }
                }
                
            }
        }

        .skicka{
            position: relative;
            display: block;
            margin: 0 auto;
            background-color: $third-color;
            border: 5px solid $secondary-color;
            color: #fff;
            font-size: 1.5rem;
            width: 25%;
            text-align: center;
            padding: 7px 40px;
            cursor: pointer;
        }

        .skicka:active{
            border: 5px solid #fccd67;
        }
        

    }
}