* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

#betalning {
  background-color: #FCF7EF;
  color: #000000;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 30px;
}
#betalning .main2 {
  padding-top: 20px;
  padding-bottom: 10px;
}
#betalning .main2 h1 {
  font-size: 1.5rem;
  font-weight: 500;
  width: fit-content;
  line-height: 1.5;
  padding: 0 10px;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
#betalning .main2 p {
  width: fit-content;
  text-align: left;
  margin-left: 10px;
  font-size: 1.1rem;
}
#betalning form {
  margin: 0 auto;
  margin: 0 20px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #EFAE1F;
}
#betalning form #form-container {
  width: 100%;
}
#betalning form #form-container .form-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px;
}
#betalning form #form-container .form-group label {
  width: 150px;
  text-align: left;
  padding-right: 10px;
  font-size: 1.15rem;
}
#betalning form #form-container .form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.1rem;
}
#betalning form #form-container .form-group .betalningsadress-container {
  display: flex;
  flex-direction: column;
}
#betalning form #form-container .form-group .betalningsadress-container label {
  padding: 0;
  margin-bottom: -5px;
}
#betalning form #form-container .form-group .betalningsadress-container p {
  padding-bottom: 5px;
  text-align: left;
  font-size: 0.72rem;
}
#betalning form #form-container .form-group input[type=date] {
  width: 200px;
  height: 40px;
}
#betalning form #form-container .form-group .meddelande {
  align-self: flex-start;
}
#betalning form #form-container .form-group textarea {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  resize: none;
}
#betalning form #form-container .form-group #meddelande::placeholder {
  font-size: 1rem;
  line-height: 1.5;
}
#betalning .payment-container {
  margin-top: 20px;
}
#betalning .payment-container p {
  font-size: 1.1rem;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: left;
}
#betalning #payment-form {
  padding: 0;
}
#betalning #payment-form .payment-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
}
#betalning #payment-form .payment-method label {
  margin-bottom: 5px;
  padding-bottom: 10px;
}
#betalning #payment-form .payment-method label img {
  width: 150px;
}
#betalning #payment-form .payment-method .visa-card {
  padding-bottom: 0;
}
#betalning #payment-form .payment-method .visa-card img {
  width: 250px;
}
#betalning .totalSumma {
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
#betalning .skicka {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #2B4B58;
  border: 5px solid #EFAE1F;
  color: #fff;
  font-size: 1.15rem;
  width: 60%;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
}
#betalning .skicka:active {
  border: 5px solid #fccd67;
}

@media screen and (min-width: 1920px) {
  #betalning {
    padding: 20px 50px 80px;
    width: 100%;
    min-width: 1085px;
  }
  #betalning .main2 {
    padding-bottom: 10px;
  }
  #betalning .main2 h1 {
    font-size: 2.5rem;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 10px;
  }
  #betalning .main2 p {
    position: relative;
    left: 40px;
    width: fit-content;
    text-align: left;
    margin-left: 10px;
    font-size: 1.5rem;
  }
  #betalning form {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 70px;
    margin-bottom: 50px;
  }
  #betalning form #form-container {
    width: fit-content;
  }
  #betalning form #form-container .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  #betalning form #form-container .form-group label {
    text-align: right;
    padding-bottom: 0;
    width: 200px;
    margin: 0;
    font-size: 1.4rem;
  }
  #betalning form #form-container .form-group input {
    width: 450px;
    font-size: 1.5rem;
  }
  #betalning form #form-container .form-group .betalningsadress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #betalning form #form-container .form-group .betalningsadress-container label {
    text-align: right;
    padding-right: 10px;
  }
  #betalning form #form-container .form-group .betalningsadress-container p {
    text-align: center;
    font-weight: 600;
  }
  #betalning form #form-container .form-group textarea {
    width: 450px;
    resize: none;
    font-size: 1.4rem;
  }
  #betalning form #form-container .form-group #meddelande::placeholder {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  #betalning form #form-container #Leveransdatum {
    margin-bottom: 25px;
  }
  #betalning form #form-container #Leveransadress {
    align-self: flex-start;
  }
  #betalning .payment-container p {
    width: fit-content;
    position: relative;
    left: 40px;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  #betalning #payment-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 15px;
  }
  #betalning #payment-form .payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
  }
  #betalning #payment-form .payment-method label {
    height: 100px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }
  #betalning #payment-form .payment-method label img {
    width: 180px;
  }
  #betalning #payment-form .payment-method input[type=radio] {
    margin-top: 30px;
    transform: scale(1.5);
  }
  #betalning #payment-form .payment-method .visa-card {
    padding-bottom: 0;
  }
  #betalning #payment-form .payment-method .visa-card img {
    width: 280px;
  }
  #betalning #payment-form .desktop-mastercard label {
    padding-bottom: 0;
  }
  #betalning #payment-form .desktop-klarna label {
    padding-bottom: 0;
  }
  #betalning #payment-form .desktop-googlePay {
    padding-top: 0;
  }
  #betalning #payment-form .desktop-googlePay label {
    padding-bottom: 0;
    padding-right: 20px;
  }
  #betalning .totalSumma {
    font-size: 3rem;
    font-weight: 500;
    width: fit-content;
    margin: 0 auto;
  }
  #betalning .skicka {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: #2B4B58;
    border: 5px solid #EFAE1F;
    color: #fff;
    font-size: 1.7rem;
    width: 310px;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 0;
  }
  #betalning .skicka:active {
    border: 5px solid #fccd67;
  }
  #betalning .kontakt-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 1.5;
  }
  #betalning .kontakt-info a {
    color: black;
    text-decoration: none;
  }
}