$font-size-h2: 1.5rem;
$font-size-h2-card-2: 16.57px;
$button-card-color: #195a94;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin flexCenter($direktion, $justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
  flex-direction: $direktion;
}

.h2Nyheter {
  width: 100%;
  height: auto;
  font-size: 50px;
  margin-top: 38px;
  margin-bottom: 100px;
}

// Card 1

.container-restaurang-all {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .ram-card-1 {
    @include flexCenter(column, center);
    width: 80%;
    background-color: #ffffff;
    border-radius: 20px;

    .card-1 {
      width: 95%;
      margin-top: 5%;
      border-radius: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
  }

  .h2-card-1 {
    display: flex;
    width: 100%;
    padding: 25px;
    text-align: left;
    font-size: $font-size-h2;
  }

  .calender-knapp-flex-card-1 {
    //container
    @include flexCenter(row, space-between);
    width: 95%;
    height: 100%;
    margin-bottom: 20px;


    .calender-p-flex {
      //container
      width: 110%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .calender {
        //logga
        height: 57.28px;
        padding-right: 20px;
      }

      .cal-date {
        text-align: left;
        width: 95px;
        width: 100%;
      }
    }

    /* VAD ÄR FEL PÅ DATE-TEXTEN!?- Olli-Heikki*/

    .button-card-1 {
      width: 40%;
      height: 80%;
      display: flex;
      justify-content: flex-end;
    }

    button {
      background-color: $button-card-color;
      width: 70%;
      height: 50px;
      font-size: 1rem;
      padding: 0 40px;
      border-radius: 37.8px;
      color: white;
    }

    button:hover {
      transition: 300ms;
      background-color:#4b84b7;
      border:1px solid $button-card-color;
    }
  }

  // Card 2 som innehåller 3 små kort

  .restaurang-container {
    @include flexCenter(row, space-between);
    width: 80%;
    margin: 5% 0;


    .ram-card-2 {
      @include flexCenter(column, center);
      width: 30%;
      background-color: #ffffff;
      border-radius: 6.03px;

      .card-2 {
        @include flexCenter(column, center);
        width: 100%;
        margin-top: 22.6px;


        .rest-bild {
          width: 95%;
          object-fit: cover;
          border-radius: 20px;
        }
      }
    }

    .h2-card-2 {
      width: 100%;
      text-align: left;
      font-size: 1rem;
      margin-left: 10%;
    }

    .calender-knapp-flex-card-2 {
      @include flexCenter(row, space-between);
      width: 100%;
      height: auto;
      margin-bottom: 5px;

      .calender-p-flex-card-2 {
        @include flexCenter(row, left);
        width: 100%;
      }

      .calender-card-2 {
        width: 20%;
        margin-left: 7%;
      }

      .calender-text-card-2 {
        font-size: 1rem;

        margin-right: 10%;
      }

      .width-button {
        align-items: center;
        width: 46%;
        height: 50px;
        padding-right: 5%;
        margin-top: 3%;
      }

      .button-card-2 {
        background-color: $button-card-color;
        font-size: 1rem;
        width: 110%;
        height: 80%;
        border-radius: 11px;
        color: white;
        border-radius: 37.8px;
      }

        .button-card-2:hover {
          transition: 300ms;
          background-color:#4b84b7;
          border:1px solid $button-card-color;
        }
      
     
    }
  }
}

/*---------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 390px) {
  .h2Nyheter {
    width: 100%;
    font-size: 20px;
    margin-top: 15px;
  }

  .container-restaurang-all .restaurang-container {
    margin-top: 10%;
  }

  .container-restaurang-all .h2-card-1 {
    display: flex;
    width: 100%;
    padding: 25px;
    text-align: left;
    font-size: 1rem;
  }

  .container-restaurang-all .calender-knapp-flex-card-1 button {
    //knapp
    width: 80%;
    height: 40px;
    padding: 0;
  }

  .container-restaurang-all .calender-knapp-flex-card-1 .calender-p-flex .container-restaurang-all .ram-card-1 .card-1 {
    width: 100%;
  }

  .container-restaurang-all .calender-knapp-flex-card-1 .button-card-1 {
    //knapplåda
    width: 70%;
    height: 80%;
    margin-right: 1.7%;
  }

  .container-restaurang-all .calender-knapp-flex-card-1 .calender-p-flex {
    margin-left: 5%;
  }

  .container-restaurang-all .ram-card-1 {
    width: 100%;
  }

  .container-restaurang-all .calender-knapp-flex-card-1 .calender-p-flex .calender {
    width: 33%;
    height: auto;
  }

  .container-restaurang-all .calender-knapp-flex-card-1 {
    width: 100%;
  }

  .container-restaurang-all .h2-card-1 {
    padding: 0%;
    padding-left: 5%;
    padding-bottom: 1%;
  }

  .cal-date {
    font-size: 1rem;
    width: 10%;
    margin-left: 8%;
  }

  .calender {
    height: 30px;
  }

  .button-card-1 {
    width: 30%;
  }

  // 3 Cards

  .container-restaurang-all .restaurang-container {
    @include flexCenter(column, center);
    width: 100%;

    .ram-card-2 {
      width: 100%;
      margin-bottom: 10%;
      border-radius: 20px;

      .card-2 {
        margin-top: 5%;
        margin-bottom: 2.5%;
      }
    }
  }
}