@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.welcome h1 {
  width: 700px;
  font-size: 50px;
  @include flex(row, center, center);
  margin-top: 50px;
}

.valkommen-text {
  @include flex(row, center, center);
  max-width: 800px;
  height: auto;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  margin: 16px;
}

.mat-startsida {
  width: 80%;
  height: auto;
}

.bild-anvandare {
  @include flex(row, center, center);
  width: 100%;
  height: auto;
}


.bild-user {
  width: 200px;
}


.omdome-stjarna {
  width: 100%;
  @include flex(column, flex-start, left);
}

.omdome-stjarna h3 {
  text-align: left;
}

/*---------------------------------MOBILE---------------------------------------*/

@media screen and (max-width: 390px) {
  h1 {
    @include flex(column, center, center);
  }

  .valkommen-text {
    width: 100%;
  }

  .omdome-stjarna {
    padding: 30px;
  }

  .omdome-stjarna h3 {
    text-align: left;
  }

  .mat-startsida {
    max-width: 100%;
    border-radius: 3px;
    height: auto;
  }
}