@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.article-container {
  width: 1390px;
  height: 2292px;
  @include flex(column, center, center);

  h1 {
    width: 783px;
    height: 130px;
    font-size: 50px;
    @include flex(row, center, center);
    margin-top: 38px;
  }
  .valkommen-text {
    @include flex(row, center, center);
    margin-top: 31px;
    width: 955px;
    height: auto;
    font-size: 16px;
    text-align: center;
  }
  .mat-startsida {
    width: 800px;
    height: auto;
  }
  .bild-anvandare {
    @include flex(row, center, center);
    width: 1013.6px;
    height: auto;
  }
  .h3-style {
    font-size: 24px;
    font-weight: bold;
  }
  .bild-user {
    width: 228.48px;
    height: 62.72px;
  }

  .omdome-stjarna {
    width: 100%;
    margin-left: 300px;
    @include flex(column, flex-start, left);
  }

  @media (max-width: 390px) {
    h1 {
      @include flex(column, center, center);
    }
    .omdome-stjarna {
      width: 100%;
      margin-left: 300px;
      @include flex(column, center, left);
    }
  }
}
