

$font-size-mobil-h2:20px;
$font-size-mobil-p:8.4px;

$logo-size-mobil:
(
    width: 84.7px,
    height: 84.7px,
    flex-shrink: 0
);

// Media query för h2
@media (max-width: 391px) {
    h2 {
      font-size: $font-size-mobil-h2;
      color: black;
    }
  }
  
  // Media query för .member-list
  @media (max-width: 391px) {
    .member-list {
      font-size: $font-size-mobil-p;
      color: black;
      width: map-get($logo-size-mobil, width);
      height: map-get($logo-size-mobil, height);
    }
  }
  
  // Media query för .member-image
  @media (max-width: 391px) {
    .member .member-image {
      width: map-get($logo-size-mobil, width);
      height: map-get($logo-size-mobil, height);
    }
  }
  
  // Media query för .member-details h2
  @media (max-width: 391px) {
    .member .member-details h2 {
      font-size: $font-size-mobil-h2;
      color: black;
    }
  }
  
  // Media query för .member-details p
  @media (max-width: 391px) {
    .member .member-details p {
      font-size: $font-size-mobil-p;
      color: black;
    }
  }
  