@charset "UTF-8";
/* RESET CSS
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Typographic tweaks */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #2B4B58;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Logo */
.logo {
  width: 150px;
  position: fixed;
  background-color: #2B4B58;
  margin: 0;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 150px;
  position: fixed;
  top: 137px;
  left: 0;
  padding-top: 0px;
  background-color: #fcf7ef;
}

.sidebar-content {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-top: 10px;
}

.sidebar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1em;
  transition: 1000ms;
}

.sidebar a:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 25px;
  box-shadow: -2px 3px 5px 1px #888888;
  transform: scale(1.1);
}

#menu-toggle,
.menu-icon {
  display: none;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  background: url(header.png) no-repeat;
  background-size: 100%;
  height: 25vh;
  margin-left: 150px;
  margin-top: 0;
}

.headline {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.body-text {
  margin-left: 150px;
  font-size: 18px;
}

/* -----------------Mobile menu ---------------*/
@media screen and (max-width: 767px) {
  .logo {
    display: flex;
    align-self: center;
    width: 60px;
    margin-top: 5px;
  }
  header {
    display: none;
  }
  .menu-icon {
    content: "☰";
    /* Hamburger */
    font-size: 30px;
    display: block;
    color: #fcf7ef;
    position: fixed;
    top: 5px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
  }
  /* Your other CSS styles... */
  #menu-toggle {
    display: none;
  }
  .menu-icon:hover,
  .menu-icon:active {
    color: #EFAD1F;
    transform: scale(1.5);
    transition: 800ms;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -100px;
    width: 100px;
    height: 100%;
    background-color: #fcf7ef;
    transition: left 1s;
  }
  .sidebar-content {
    margin-top: 30px;
  }
  .sidebar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 0.8rem;
    transition: 800ms;
  }
  .sidebar a:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 25px;
    box-shadow: -2px 3px 5px 1px #888888;
  }
  #menu-toggle:checked + .sidebar {
    left: 0;
    transition: left 0.5s;
  }
}
/* Your other CSS styles... *//*# sourceMappingURL=style.css.map */